.custom-font {
  font-family: "Levenim MT";
}

.top-margin {
  margin-top: 20px;
  margin-bottom: 20px;
}

.rounded-border {
  border-radius: 10px;
}
.tablet-size {
  padding-top: 10px;
  width: 90%;
  height: 40px;
  border-radius: 10px;
}
.btn-primary {
  background-color: black;
}
.aligner {
  width: 100%;
  height: 40px !important;
  margin: 10px;
}

